/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html {
     max-width: 1400px;
     font-size: 16px;
     width: 100%;
   }

   header {
     width: 100%;
     background: url('../img/hero.png');
     background-position: center;
     background-size: cover;
     background-repeat: none;
     background-position: 100% top;
     margin-top: 0;
   }

   header h1 {
     padding: 50px 0;
     font-family: 'Lora', serif;
     color: #bbc085;
     text-align: center;
     font-size: 2em;
     margin-top: 0;
   }

   nav ul {
     width: 90%;
     margin: auto;
     text-align: center;
     padding-left: 0;
   }
   nav ul li {
     text-align: center;
     list-style: none;
     margin: auto;
     padding-bottom: 10px;
     padding-left: 0;
   }
   nav ul li a {
     text-transform: uppercase;
     text-decoration: none;
     font-size: 18px;
     color: #828282;
   }
   header h2 {
     width: 90%;
     clear: both;
     font-family: 'Lora', serif;
     line-height: 80px;
     color: #808080;
     padding-bottom: 100px;
     padding-left: 20px;
     padding-right: 20px;
     font-size: 3em;
     margin-right: 0;
   }
   header h2 span {
     color: #2b2b2b;
   }


   .contact-img {
     width: 100%;
   }


/*============ ABOUT STYLES ===========*/
#about {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 1.5em;
}
#about p {
    font-size: 1.2em;
    color: #7F7F7F;
}
/*============ WORK STYLES ===========*/
#work {
  background-color: #f9ceb7;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.third-width {
  padding-bottom: 10px;
}
.work-icons {
  width: 20%;
}
#work h3 {
  font-size: 1.5em;
}
#work p {
  font-family: 'Lora', serif;
  color: #2B2B2B;
  font-size: 1.1em;
}
/*============ CONTACT STYLES ===========*/
#contact {
  background-color: #EBEBEB;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#contact-img {
  width: 97%;
  margin: auto;
  border: 6px solid #ffffff;
}
#contact h2 {
  font-family:'Lora', serif;
  font-size: 2.2em;
}
#contact h3{
  font-size: 1.5em;
}
#envelope {
  display: inline;
}
#email {
  display: inline;
}
#contact a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #C49075;
  font-weight: bolder;
  font-size: 1.5em;
}
#contact ul {
  list-style: none;
  width: 95%;
}
.forth {
  width: 20%;
}
#contact ul li {
  display: inline-block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 760px) {
  /* Style adjustments for viewports that meet the condition */
  .half-width {
      width: 50%;
      float: left;
      display: inline-block;
  }
  header {
    height: 600px;
  }

  nav ul li {
    display: inline-block;
    padding-top: 60px;
    padding-left: 30px;
    font-size: 1.125em;
  }

  header h1 {
    text-align: left;
    padding-left: 50px;
  }
  header h2 {
    padding-top: 100px;
    font-size: 4.5em;
    padding-right: 50px;
    padding-left: 50px;
  }
/* ABOUT MIN 760 STYLES  */
#about .half-width {
  width: 40%;
  padding-right: 5%;
}
#about h2 {
  padding-top: 50px;
}
#about p {
  font-size: 1.3em;
}
#about .half-width-right {
  float: right;
}

/* WORK MIN 760 STYLES */
#work .full-width {
  background-color: #f9ceb7;
  height: 100%;
}
#work .third-width {
  width: 30%;
  float: left;
  padding-right: 3%;
}
#work .third-width h3 {
  font-size: 1.5em;
  width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}
#work .third-width p {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

/* CONTACT MIN 760 STYLES*/

#contact .full-width {
  background-color: #EBEBEB;
}
#contact .half-width {
  width: 45%;
  margin: auto;
}
#contact .half-width-right {
  float: right;
}
#contact h2 {
  font-size: 2.5em;
  margin-top: 3px;
}
#contact #email-header {
  font-size: 2em;
}
#contact #socialmedia-header {
  font-size: 1.8em;
}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
